.container-Card {
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-style: normal;
}

.planet-Mercúrio img {
  height: 15px;
}

.planet-Vênus img {
  height: 45px;
}

.planet-Terra img {
  height: 55px;
}

.planet-Marte img {
  height: 28px;
}

.planet-Júpiter img {
  height: 155px;
}

.planet-Saturno img {
  height: 145px;
}

.planet-Urano img {
  height: 67px;
}

.planet-Netuno img {
  height: 65px;
}
